<% if current_user %>
<%# <li class="follow-form"> %>
  <% unless current_user?(@user) %> <%# current_userと@userが一致しなかったらtrueを返す %>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_user_bookmarks.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー解除", class: "follow-btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_user_bookmarks.build) do |f| %>
        <div><%= hidden_field_tag :following_id, @user.id %></div>
        <%= f.submit "フォローする", class: "unfollow-btn" %>
      <% end %>
    <% end %>
  <% end %>
<%# </li> %>
<% else %>
<%# <li class="follow-form"> %>
  <% unless current_artist?(@user) %>
    <% if current_artist.user_follow_id?(@user) %>
      <%= form_for(current_artist.front_artist_bookmarks.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー解除!!", class: "follow-btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_artist.front_artist_bookmarks.build) do |f| %>
        <div><%= hidden_field_tag :following_id, @user.id %></div>
        <%= f.submit "フォローする!!", class: "unfollow-btn" %>
      <% end %>
    <% end %>
  <% end %>
<%# </li> %>
<% end %>
<div class="count-form">
  <%= link_to 'uフォロー', following_user_path(@user), class:"count-path" %>
  <%= "#{@user.followings.count + @user.artist_followings.count}人 /" %>
  <%= link_to 'uフォロワー',follower_user_path(@user), class:"count-path" %>
  <%= "#{@user.followers.count + @user.artist_followers.count}人" %>
</div>

<%# hidden_field_tag: following_id(第一引数)というパラメータに@user.id(第二引数)の情報を渡している %>