<% if current_user.present? %>
<div id="follow_form">
  <% unless current_user?(@user) %> <%# current_userと@userが一致しなかったらtrueを返す %>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_user_bookmarks.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー解除", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_user_bookmarks.build) do |f| %>
        <div><%= hidden_field_tag :following_id, @user.id %></div>
        <%= f.submit "フォローする", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% else %>
<div id="follow_form">
  <% unless current_artist?(@user) %>
    <% if current_artist.user_follow_id?(@user) %>
      <%= form_for(current_artist.front_artist_bookmarks.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
        <%= f.submit "フォロー解除!!", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_artist.front_artist_bookmarks.build) do |f| %>
        <div><%= hidden_field_tag :following_id, @user.id %></div>
        <%= f.submit "フォローする!!", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
  <div>
    <%= link_to 'フォロー', following_user_path(@user) %>
    <%= "#{@user.followings.count + @user.artist_followings.count}人(user)/" %>
    <%= link_to 'フォロワー',follower_user_path(@user) %>
    <%= "#{@user.followers.count + @artist.user_followed_ids.count}人(user)" %>
  </div>

<%# hidden_field_tag: following_id(第一引数)というパラメータに@user.id(第二引数)の情報を渡している %>