[アーティスト名] <%= current_artist.artistname %><br>
<br>
  <%= @artist.artistname %>さんのページ！！
<br>

<div id="follow_form">
  <% unless current_artist?(@artist) %>
    <% if current_artist.artist_follow?(@artist) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
</div>

<a href="<%= follow_artist_path(@artist) %>">
  <%= @artist.artist_follow_ids.count %>
フォロー
</a>
<a href="<%= followed_artist_path(@artist) %>">
  <%= @artist.artist_followed_ids.count %>
フォロワー
</a>
<br>
<%#= render 'events/event-calender' %>