<%# ãƒ˜ãƒƒãƒ€ãƒ¼éƒ¨åˆ† %>
  <%= render 'events/event_header' %>
<%# ã‚¢ãƒ¼ãƒ†ã‚£ã‚¹ãƒˆã®è¡¨ç¤º %>
<ul class="artist-form">
  <div class="artist-info">
    <li class="artist-list">
      <% if @artist.artist_image.attached? %>
        <%= image_tag @artist.artist_image, size:'75', class:"artist-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-3x"></i>
      <% end %>
      <div class="name"><%= "#{@artist.artistname}ã•ã‚“ã®ãƒšãƒ¼ã‚¸" %></div>
    </li>
    <li class="follow-lists">
      <%= render 'bookmarks/artist_follow_form', artist: @artist %>
    </li>
  </div>
<%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã®è¡¨ç¤º %>
  <ul class="profile-lists">
    <div class="profile-title">â˜… profile â˜…</div>
    <li class="profile-list">
      <div class="profile-text">
        <%= "gender ðŸš»" %>
      </div>
      <div class="profile-sex">
        <% if @artist.sex == "man" %>
          <%= "ç”·æ€§" %>
        <% else %>
          <%= "å¥³æ€§" %>
        <% end %>
      </div>
    </li>
    <li class="profile-list">
      <div class="profile-text">
        <%= "birthday ðŸŽ‚" %>
      </div>
      <div class="profile-birthday">
        <%= @artist.birthday.strftime("%Yå¹´ %mæœˆ %dæ—¥") %>
      </div>
    </li>
    <li class="profile-list">
      <div class="profile-text">
        <%= "hobby ðŸŽª" %>
      </div>
      <div class="profile-hobby">
        <% if @artist.hobby.present? %>
          <%= @artist.hobby %>
        <% else %>
          <%= "æŽ¢ç´¢ä¸­....." %>
        <% end %>
      </div>
    </li>
  </ul>
</ul>
<%# ãƒ‡ã‚£ã‚¹ã‚³ãƒ•ãƒ©ãƒ•ã‚£ãƒ¼ã®è¡¨ç¤º %>
<div class="tab" id="js-tab">
  <ul class="tab-nav">
    <li class="tab-nav-item is-active" data-nav="0">
      <i class="fas fa-record-vinyl"></i>discography
    </li>
    <li class="tab-nav-item" data-nav="1">
      <i class="fas fa-hands-helping"></i>sns-link
    </li>
  </ul>
  <div class="tab-contents">
    <div class="tab-content-item" data-content="0">
      <%= safe_join(@artist.discography.split("\n"),tag(:br)) %>
    </div>
    <div class="tab-content-item" data-content="1">
    <ul class= "artist-profile">
      <li class="sns-list">
        <% if @artist.twitter.present? %>
          <%= link_to @artist.twitter, target: :_blank do %>
            <i class="fab fa-twitter fa-2x faa-wrench animated"></i>
          <% end %>
          <br><%= "twitter" %>
        <% else %>
          <i class="fab fa-twitter-square fa-lg"></i>
          <br><%= "twitter" %>
        <% end %>
      </li>
      <li class="sns-list">
        <% if @artist.facebook.present? %>
          <%= link_to @artist.facebook, target: :_blank do %>
            <i class="fab fa-facebook-square fa-2x faa-horizontal animated"></i>
          <% end %>
          <br><%= "facebook" %>
        <% else %>
          <i class="fab fa-facebook fa-lg"></i>
          <br><%= "facebook" %>
        <% end %>
      </li>
      <li class="sns-list">
        <% if @artist.instagram.present? %>
          <%= link_to @artist.instagram, target: :_blank do %>
            <i class="fab fa-instagram fa-2x faa-pulse animated"></i>
          <% end %>
          <br><%= "instagram" %>
        <% else %>
          <i class="fab fa-instagram-square fa-lg"></i>
          <br><%= "instagram" %>
        <% end %>
      </li>
    </ul>
    </div>
  </div>
</div>
<%# ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã®è¡¨ç¤º %>
<div class="calendar-title"><%= "ðŸ”» #{@artist.artistname}ã•ã‚“ã®ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ ðŸ”»" %></div>
<%= render 'simple_calendar/events_calendar' %>