<%# ãƒ˜ãƒƒãƒ€ãƒ¼éƒ¨åˆ† %>
  <%= render 'events/event_header' %>
<%# ã‚¢ãƒ¼ãƒ†ã‚£ã‚¹ãƒˆã®è¡¨ç¤º %>
<ul class="artist-form">
  <div class="artist-info">
    <li class="artist-list">
      <% if @artist.artist_image.attached? %>
        <%= image_tag @artist.artist_image, size:'75', class:"artist-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-3x"></i>
      <% end %>
      <div class="name"><%= "#{@artist.artistname}ã•ã‚“ã®ãƒšãƒ¼ã‚¸" %></div>
    </li>
    <li class="follow-lists">
      <%= render 'bookmarks/artist_follow_form', artist: @artist %>
    </li>
  </div>
<%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã®è¡¨ç¤º %>
  <ul class="profile-lists">
    <div class="profile-title">â˜… profile â˜…</div>
    <li class="profile-list"><%= "gender ðŸš»" %>
      <div class="profile"></div>
      <div class="profile">
        <% if @artist.sex == "man" %>
          <%= "ç”·æ€§" %>
        <% else %>
          <%= "å¥³æ€§" %>
        <% end %>
      </div>
    </li>
    <li class="profile-list"><%= "birthday ðŸŽ‚" %>
      <div class="profile"><%= @artist.birthday.strftime("%Yå¹´ %mæœˆ %dæ—¥") %></div>
    </li>
    <li class="profile-list"><%= "e-mail ðŸ“©" %>
      <div class="profile"><%= @artist.email %></div>
    </li>
  </ul>
</ul>
<%# ãƒ‡ã‚£ã‚¹ã‚³ãƒ•ãƒ©ãƒ•ã‚£ãƒ¼ã®è¡¨ç¤º %>
<input id="discography" type="radio" name="tabinput" checked>
<input id="sns-links" type="radio" name="tabinput">
<ul class="tabnav">
  <li><label class="disco-tab" for="discography">discography</label></li>
  <li><label class="sns-tab" for="sns-links">sns-links</label></li>
</ul>
<div class="tab-content">
  <div id="disco-content">
    <%= safe_join(@artist.discography.split("\n"),tag(:br)) %>
  </div>
  <div id="sns-content">
  <ul class= "artist-profile">
    <li class="sns-list">
      <% if @artist.twitter.present? %>
        <%= link_to @artist.twitter, target: :_blank do %>
          <i class="fab fa-twitter fa-2x faa-wrench animated"></i>
        <% end %>
        <br><%= "twitter" %>
      <% else %>
        <i class="fab fa-twitter-square"></i>
        <br><%= "twitter" %>
      <% end %>
    </li>
    <li class="sns-list">
      <% if @artist.facebook.present? %>
        <%= link_to @artist.facebook, target: :_blank do %>
          <i class="fab fa-facebook-square fa-2x faa-horizontal animated"></i>
        <% end %>
        <br><%= "facebook" %>
      <% else %>
        <i class="fab fa-facebook"></i>
        <br><%= "facebook" %>
      <% end %>
    </li>
    <li class="sns-list">
      <% if @artist.instagram.present? %>
        <%= link_to @artist.instagram, target: :_blank do %>
          <i class="fab fa-instagram fa-2x faa-pulse animated"></i>
        <% end %>
        <br><%= "instagram" %>
      <% else %>
        <i class="fab fa-instagram-square"></i>
        <br><%= "instagram" %>
      <% end %>
    </li>
  </ul>
  </div>
</div>
<%# ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã®è¡¨ç¤º %>
<%= render 'simple_calendar/events_calendar' %>
