[ログイン者]
<% if current_artist.present? %>
  <%= current_artist.artistname %>
<% else %>
  <%= current_user.nickname %>
<% end %><br>
<br>
  ☆<%= @artist.artistname %>さんのMyページ！！
<p id="flash"><%= flash[:notice] %></p>

<%= render 'bookmarks/artist_follow_form', artist: @artist %>

  ⑴.<%= @artist.follow_ids.count %>
  ⑵.<%= @artist.user_follow_ids.select("following_id").count %>
  ⑶.<%= @artist.followed_ids.count %>
  ⑷.<%= @user.artist_followers.select("follow_id").count %>

<%#= render 'events/event-calender' %>