<%# ãƒ˜ãƒƒãƒ€ãƒ¼éƒ¨åˆ† %>
  <%= render 'events/event_header' %>
<%# ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®è¡¨ç¤º %>
<ul class="user-form">
  <div class="user-info">
    <li class="user-list">
      <% if @user.user_image.attached? %>
        <%= image_tag @user.user_image, size:'75', class:"user-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-3x"></i>
      <% end %>
      <div class="name"><%= "#{@user.nickname}ã•ã‚“ã®ãƒšãƒ¼ã‚¸" %></div>
    </li>
    <li class="follow-lists">
      <%= render 'bookmarks/user_follow_form', user: @user %>
    </li>
  </div>
<%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã®è¡¨ç¤º %>
  <ul class="profile-lists">
    <div class="profile-title">â˜… profile â˜…</div>
    <li class="profile-list">gender ðŸš»
      <div class="profile"></div>
      <div class="profile"><%= @user.sex %></div>
    </li>
    <li class="profile-list">birthday ðŸŽ‚
      <div class="profile"><%= @user.birthday.strftime("%Yå¹´ %mæœˆ %dæ—¥") %></div>
    </li>
    <li class="profile-list">e-mail ðŸ“©
      <div class="profile"><%= @user.email %></div>
    </li>
  </ul>
</ul>
<%# ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã®è¡¨ç¤º %>
<%= render 'simple_calendar/events_calendar' %>