<%# ãƒ˜ãƒƒãƒ€ãƒ¼éƒ¨åˆ† %>
  <%= render 'events/event_header' %>
<%# ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®è¡¨ç¤º %>
<ul class="user-form">
  <div class="user-info">
    <li class="user-list">
      <% if @user.user_image.attached? %>
        <%= image_tag @user.user_image, size:'75', class:"user-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-3x"></i>
      <% end %>
      <div class="name"><%= "#{@user.nickname}ã•ã‚“ã®ãƒšãƒ¼ã‚¸" %></div>
    </li>
    <li class="follow-lists">
      <%= render 'bookmarks/user_follow_form', user: @user %>
    </li>
  </div>
<%# ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã®è¡¨ç¤º %>
  <ul class="profile-lists">
    <div class="profile-title">â˜… profile â˜…</div>
    <li class="profile-list">
      <div class="profile-text">
        <%= "gender ðŸš»" %>
      </div>
      <div class="profile-sex">
        <% if @user.sex == "man" %>
          <%= "ç”·æ€§" %>
        <% else %>
          <%= "å¥³æ€§" %>
        <% end %>
      </div>
    </li>
    <li class="profile-list">
      <div class="profile-text">
        <%= "birthday ðŸŽ‚" %>
      </div>
      <div class="profile-birthday">
        <%= @user.birthday.strftime("%Yå¹´ %mæœˆ %dæ—¥") %>
      </div>
    </li>
    <li class="profile-list">
      <div class="profile-text">
        <%= "hobby ðŸŽª" %>
      </div>
      <div class="profile-hobby">
        <% if @user.hobby.present? %>
          <%= @user.hobby %>
        <% else %>
          <%= "æŽ¢ç´¢ä¸­....." %>
        <% end %>
      </div>
    </li>
  </ul>
</ul>
<%# ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã®è¡¨ç¤º %>
<div class="calendar-title"><%= "ðŸ”» #{@user.nickname}ã•ã‚“ã®ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ ðŸ”»" %></div>
<%= render 'simple_calendar/events_calendar' %>