[ログイン者]
<% if current_user.present? %>
  <%= current_user.nickname %>
<% else %>
  <%= current_artist.artistname %>
<% end %><br>
<br>
  ☆<%= @user.nickname %>さんのMyページ！！
<p id="flash"><%= flash[:notice] %></p>

<%= render 'bookmarks/user_follow_form', user: @user %>

<%= link_to '⬅︎ トップへ戻る', root_path %>
  ⑴.<%= @user.followings.count %>
  ⑵.<%= @user.artist_followings.select("follow_id").count %>
  ⑶.<%= @user.followers.count %>
  ⑷.<%= @artist.user_followed_ids.select("followed_id").count %>

<%= render 'events/event-calender' %>