ログイン者→<%= current_user.nickname %><br>

  <%= @user.nickname %>のスケジュールページ

<div id="follow_form">
  <% unless current_user?(@user) %>
    <% if current_user.following?(@user) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
</div>

<a href="<%= following_user_path(@user) %>">
  <%= @user.followings.count %>
フォロー
</a>
<a href="<%= followers_user_path(@user) %>">
  <%= @user.followers.count %>
フォロワー
</a>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>