[ログイン者]
<% if current_user %>
  <%= current_user.nickname %>
<% else %>
  <%= current_artist.artistname %>
<% end %><br>
<br>

<p id="flash"><%= flash[:notice] %></p>

<ul class="user-form">
  <li>
    <% if @user.user_image.attached? %>
      <%= image_tag @user.user_image, size:'50', class:"user-icon" %>
    <% else %>
      <i class="far fa-grin-alt fa-3x"></i>
    <% end %>
    <%= @user.nickname %>さんのページ！！
  </li>
  <li>
    <%= render 'bookmarks/user_follow_form', artist: @artist %>
  </li>
</ul>

<ul class= "user-profile">
  <li>★profile★</li>
  <li> 誕生日🎂 <%= @user.birthday %></li>
  <li> E-mail✉️ <%= @user.email %></li>
</ul>

<%= link_to "← トップへ戻る", root_path %>
  ⑴.<%= @user.followings.count %>
  ⑵.<%= @user.artist_followings.select("follow_id").count %>
  ⑶.<%= @user.followers.count %>
  ⑷.<%= @user.artist_followers.select("followed_id").count %>
  ⑷.<%#= @artist.user_followed_ids.select("followed_id").count %>

<%= render 'simple_calendar/events_calendar' %>