[ユーザー名] <%= current_user.nickname %><br>
<br>
  <%= @user.nickname %>さんのページ！！
<br>

<div id="follow_form">
  <% unless current_user?(@user) || current_artist?(@artist) %>
    <% if current_user.following?(@user) || cerrent_artist.artist_follow?(@srtist) %>
      <%= render 'unfollow' %>
    <% else %>
      <%= render 'follow' %>
    <% end %>
  <% end %>
</div>

<a href="<%= following_user_path(@user) %>">
  <%= @user.followings.count %>
フォロー
</a>
<a href="<%= followers_user_path(@user) %>">
  <%= @user.followers.count %>
フォロワー
</a>
<br>

<%#= render 'artists/show' %>
<%= render 'events/event-calender' %>