<%# ヘッダー部分 %>
  <%= render 'events/event_header' %>
<%# ユーザーの表示 %>
<ul class="user-form">
  <li class="user-list">
    <% if @user.user_image.attached? %>
      <%= image_tag @user.user_image, size:'75', class:"user-icon" %>
    <% else %>
      <i class="far fa-grin-alt fa-3x"></i>
    <% end %>
    <div class="name"><%= "#{@user.nickname}さんのページ" %></div>
  </li>
</ul>
<%# フォロー一覧の表示 %>
<ul class="follow-var">
  <li class="follow-title">【 フォロー 】</li>
  <li class="back-path">
    <%= link_to '← 前のページに戻る', user_path(@user), class:"back-path" %>
  </li>
</ul>
<%# ユーザーのフォロー %>
<div class="follow-lists">
<% @user.followings.each do |user| %>
  <ul class="follow-list">
    <li class="following">
      <% if user.user_image.attached? %>
        <%= image_tag user.user_image, size:'30', class:"user-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-2x"></i>
      <% end %>
      <%= "#{user.nickname}さん" %>
    </li>
    <li class="follow-path">
      <%= link_to user_path(user), class:"follow-path" do %>
        <i class="fas fa-star"></i>/information
      <% end %>
    </li>
  </ul>
<% end %>
<% @user.artist_followings.each do |artist| %>
  <ul class="follow-list">
    <li class="following">
      <% if artist.artist_image.attached? %>
        <%= image_tag artist.artist_image, size:'30', class:"artist-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-2x"></i>
      <% end %>
      <%= "#{artist.artistname}さん" %>
    </li>
    <li class="follow-path">
      <%= link_to artist_path(artist), class:"follow-path" do %>
        <i class="fas fa-music"></i>/information
      <% end %>
    </li>
  </ul>
<% end %>
</div>
<%# カレンダーの表示 %>
<%= render 'simple_calendar/events_calendar' %>