<%# イベントのフッター部分 %>
<ul class="event-path-lists">
<% if current_user && current_user.id == @event.user_id %>
  <li class="path-list">
    <%= link_to '編集画面へ', edit_event_path(@event), class:"path-list-submit" %>
  </li>
  <li class="path-list">
    <%= link_to '作成画面へ', new_event_path(@event), class:"path-list-submit" %>
  </li>
  <li class="event-delete">
    <%= link_to '削除する', event_path(@event), class:"delete-btn", method: :delete, data: { confirm: '本当に削除してよろしいですか？？' } %>
  </li>
  <li class="event-return">
    <%#= link_to 'uトップへ戻る', root_path, class:"event-return-submit" %>
  </li>
<% elsif current_artist && current_artist.id == @event.artist_id %>
  <li class="path-list">
    <%= link_to '編集画面へ', edit_event_path(@event), class:"path-list-submit" %>
  </li>
  <li class="path-list">
    <%= link_to '作成画面へ', new_event_path(@event), class:"path-list-submit" %>
  </li>
  <li class="event-delete">
    <%= link_to '削除する', event_path(@event), class:"delete-btn", method: :delete, data: { confirm: '本当に削除してよろしいですか？？' } %>
  </li>
  <li class="event-return">
    <%#= link_to 'aトップへ戻る', root_path, class:"event-return-submit" %>
  </li>
</ul>
<% else %>
<div class="caution-var">※※※<span class="caution-point">イベントの編集は出来ません！！</span>※※※
  <li class="event-return">
    <%#= link_to 'vトップへ戻る', root_path, class:"event-return-submit" %>
  </li>
</div>
<% end %>
