<%# ヘッダー部分 %>
  <%= render 'event_header' %>
<%# イベント編集フォーム %>
<div class="event-form">
<%# エラーメッセージの出力 %>
  <%= render 'events/error_messages' %>
<%= form_with(model: @event, local: true) do |f| %>
  <div class="event-edit">イベント編集画面</div>
<%# event-title %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-flag a-fw" aria-hidden="true"></i>
    <%= f.text_field :title, class:"event-title", placeholder:"【 titleの変更 】", autofocus: true %>
  </li>
</ul>
<%# date/time %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-calendar-check"></i>
    <%= f.datetime_field :start_time, class:"datetime", placeholder:"【 date/timeの変更 】", autofocus: true %>
  </li>
</ul>
<%# contents %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-pencil-alt"></i>
    <%= f.text_area :content, class:"content", placeholder:"【 contentsの変更 】", autofocus: true %>
  </li>
</ul>
<%# 編集ボタン %>
  <ul class="event-btn">
    <li><%= f.submit "編集する", class:"create-btn" %></li>
<%# 削除ボタン %>
    <li class="event-delete">
      <%= link_to '削除する', event_path(@event), class:"delete-btn", method: :delete, data: { confirm: "このイベントを削除しますか？？" } %>
    </li>
<%# 戻るボタン %>
    <li class="event-return"><%= link_to 'トップへ戻る', root_path, class:"event-return-submit" %></li>
  </ul>
<% end %>
</div>
<%#= カレンダーを表示 %>
<%= render 'simple_calendar/toppage_calendar' %>