<% if signed_in? %>
  <%= render 'event_header' %>
<ul class="user-list">[ユーザー一覧]
  <% @users.each do |user| %>
    <li>
      <% if user.user_image.attached? %>
        <%= image_tag user.user_image, size:"50", class:"user-icon" %>
      <% else %>
        <i class="far fa-grin-alt fa-3x"></i>
      <% end %>
      <%= link_to "※#{user.nickname}さんのページ※", user_path(user) %>
    </li>
  <% end %>
</ul>
<ul class="artist-list">[アーティスト一覧]
  <% @artists.each do |artist| %>
  <li>
    <% if artist.artist_image.attached? %>
      <%= image_tag artist.artist_image, size:'50', class:"artist-icon" %>
    <% else %>
      <i class="far fa-grin-alt fa-3x"></i>
    <% end %>
    <%= link_to "※#{artist.artistname}さんのページ※", artist_path(artist) %>
  </li>
  <% end %>
</ul>
<% end %>

<% if signed_in? %>
  <p>🔻スケジュールの管理🔻</p>
  <%= link_to "→ 新規イベントの作成", new_event_path %><br>
<table>
  <p>⭐️直近のイベント⭐️</p>
  <thead>
    <tr>
      <th>『ユーザー名』</th>
      <th>『イベントタイトル』</th>
      <th>『開催日（時間）』</th>
      <th colspan="3">『詳細一覧』</th>
    </tr>
  </thead>
    <% if current_user %>
      <% @user_events.each do |event| %>
        <tbody>
          <tr>
            <td><%= event.user.nickname %>さん</td>
            <td><%= "🚩 #{event.title}" %></td>
            <td><%= event.start_time.strftime("%Y-%m-%d %H:%M ~ ") %></td>
            <td><%= link_to "→詳細ページへ", event_path(event) %></td>
          </tr>
        </tbody>
      <% end %>
    <% else %>
      <% @artist_events.each do |event| %>
        <tbody>
          <tr>
            <td><%= event.artist.artistname %>さん</td>
            <td><%= "🚩 #{event.title}" %></td>
            <td><%= event.start_time.strftime("%Y-%m-%d %H:%M ~ ") %></td>
            <td><%= link_to "→詳細ページへ", event_path(event) %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  <% end %>
</table>

<%# if signed_in? %>
<% if signed_in? && current_user %>
  <div>⭐️今月の主なイベント⭐️</div>
  <%= render 'simple_calendar/user_events_calendar' %>
<% elsif current_artist %>
  <%= render 'simple_calendar/artist_events_calendar' %>
<% else %>
  <div class="app-title"> ☆ bookmark_calendar ☆ </div>
  <%= render 'event_header' %>
  <div class="attention_var">※※※ イベント・カレンダーの作成には<span class="attention_point">新規登録/ログイン</span>が必要です ※※※</div>
  <%= render 'simple_calendar/top_calendar' %>
<% end %>
<%# end %>
