<% if signed_in? %>
  <%#= ヘッダーを表示 %>
  <%= render 'event_header' %>
  <ul class="lists-var">
    <li class="icon-lists"><%#= ユーザーのリストを表示 %>
      <%= render 'users/user_list' %>
    </li>
    <li class="icon-lists"><%#= アーティストのリストを表示 %>
      <%= render 'artists/artist_list' %>
    </li>
  </ul>
<%#= イベントの表示 %>
<div class="event-content">🔻 イベント内容 🔻</div>
<li class="event-info">
  <table class="event-table">
    <caption class="month-event">⭐️ あなたのイベント予定 ⭐️</caption>
      <tr>
        <th>【 neme 】</th>
        <th>【 title 】</th>
        <th>【 date/time 】</th>
        <th>【 edit-page 】</th>
      </tr>
    <% if current_user && current_user.events.present? %>
      <% current_user.events.each do |event| %>
        <tr><%#= ユーザーのイベントを表示 %>
          <td><%= "#{event.user.nickname}さん" %></td>
          <td><%= "🚩 #{event.title}" %></td>
          <td><%= event.start_time.strftime("%m/%d %H:%M ~ ") %></td>
          <td><%= button_to "編集する", edit_event_path(event), method: :get, class: "event-path" %></td>
        </tr>
      <% end %>
    <% elsif current_artist && current_artist.events.present? %>
      <% current_artist.events.each do |event| %>
        <tr><%#= アーティストのイベントを表示 %>
          <td><%= "#{event.artist.artistname}さん" %></td>
          <td><%= "🚩 #{event.title}" %></td>
          <td><%= event.start_time.strftime("%m/%d %H:%M ~ ") %></td>
          <td><%= button_to "編集する", edit_event_path(event.id), method: :get, class: "event-path" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><%#= 入力例の表示 %>
        <td class="example"><%= placeholder="例) 名無しさん" %></td>
        <td class="example"><%= placeholder="例) イベント名" %></td>
        <td class="example"><%= placeholder="例) 01/01 0:00 〜" %></td>
        <td class="example"><%= placeholder="例) 編集ページへ" %></td>
      </tr>
    <% end %>
  </table>
<%#= イベント作成ボタンの表示 %>
  <%= link_to "/events/new", class: "event-new-btn" do %>
    <div class="text-event">イベント作成</div>
      <i class="fas fa-flag-checkered fa-5x"></i>
    <div class="text-push">PUSH</div>
  <% end %>
</li>
<% end %>
<%#= カレンダーの表示 %>
<%= render 'simple_calendar/toppage_calendar' %>

