<%# ヘッダー部分 %>
  <%= render 'event_header' %>
<%# エラーメッセージの出力 %>
  <%= render 'events/error_messages' %>
<%# イベント作成フォーム %>
<div class="event-form">
<%= form_with(model: @event, local: true) do |f| %>
  <div class="event-new">イベント作成画面</div>
<%# event-title %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-flag fa-fw" aria-hidden="true"></i>
    <%= f.text_field :title, class:"event-title", placeholder:"【 titleを入力 】", autofocus: true %>
  </li>
</ul>
<%# date/time %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-calendar-check fa-fw" aria-hidden="true"></i>
    <%= f.datetime_field :start_time, class:"datetime", placeholder:"【 date/timeを入力 】", autofocus: true %>
  </li>
</ul>
<%# content %>
<ul class="event-field">
  <li class="event-text">
    <i class="fas fa-pencil-alt fa-fw" aria-hidden="true"></i>
    <%= f.text_area :content, class:"content", placeholder:"【 contentsを入力 】", utofocus: true %>
  </li>
</ul>
<%# 作成ボタン %>
  <ul class="event-btn">
    <li><%= f.submit "作成する", class:"create-btn" %>
<%# 戻るボタン %>
    <li class="event-return"><%= link_to 'トップへ戻る', root_path, class:"event-return-submit" %></li>
  </ul>
<% end %>
</div>
<%#= カレンダーを表示 %>
<%= render 'simple_calendar/toppage_calendar' %>