<p id="notice"><%= notice %></p>
<h1>詳細画面</h1>

<%= @event.user.nickname %>さん

<p>
  <strong>タイトル</strong>
  <%= @event.title %>
</p>

<p>
  <strong>更新日時</strong>
  <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>イベント内容</strong>
  <%= @event.content %>
</p>

<%= link_to '★イベントを追加する★', new_event_path %>
<%= link_to '削除する', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'トップへ戻る', root_path %><br>
<br>
<% if @event.user_id == @user.id && current_user %>
 <%= month_calendar events: @events do |date, event| %>
  <%= date.day %>

  <% event.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
 <% end %>
<% end %>