<%# ヘッダー部分 %>
  <%= render 'event_header' %>
<%# イベント作成フォーム %>
<div class="event-form">
  <div class="show-title">イベント詳細画面</div>
<%# auther %>
<ul class="show-text">
  <li class="text-title"><i class="fas fa-user-alt"></i>auther</li>
  <div class="show-content">
    <% if @event.user.present? %>
      <%= "#{@user.nickname}さん" %>
    <% else %>
      <%= "#{@artist.artistname}さん" %>
    <% end %>
  </div>
</ul>
<%# event-title %>
<ul class="show-text">
  <li class="text-title"><i class="fab fa-font-awesome-flag"></i>title</li>
  <div class="show-content">
    <%= @event.title %>
  </div>
</ul>
<%# date/time %>
<ul class="show-text">
  <li class="text-title"><i class="fas fa-calendar-times"></i>date/time</li>
  <div class="show-content">
    <%= @event.start_time.strftime("%m/%d %H:%M ~") %>
  </div>
</ul>
<%# contents %>
<ul class="show-text">
  <li class="text-title-contents"><i class="fas fa-sticky-note"></i>contents</li>
  <div class="show-contents">
    <%= safe_join(@event.content.split("\n"),tag(:br)) %>
  </div>
</ul>
<%# フッター部分 %>
  <%= render 'event_footer' %>
</div>
<%# カレンダーの表示 %>
<%= render 'simple_calendar/events_calendar' %>
