<%#= トップページのカレンダーを表示 %>
<% if signed_in? && current_user %>
<div class="calendar-title">🔻 今月のカレンダー 🔻</div>
<%= month_calendar events: current_user.events do |date, event| %>
  <%= date.day %>
    <% event.each do |event| %>
      <div>
        <%= link_to "🚩 #{event.title}", event, class: "events-title" %>
      </div>
    <% end %>
  <% end %>
<% elsif current_artist %>
<div class="calendar-title">🔻 今月のカレンダー 🔻</div>
<%= month_calendar events: current_artist.events do |date, event| %>
  <%= date.day %>
    <% event.each do |event| %>
      <div>
        <%= link_to "🚩 #{event.title}", event_path(event), class: "events-title" %>
      </div>
    <% end %>
  <% end %>
<% else %>
<div class="app-title">
  <i class="far fa-calendar-alt"></i> bookmark_calendar <i class="far fa-calendar-alt"></i>
</div>
  <%= render 'event_header' %>
    <div class="attention-var">※※※ イベント・カレンダーの作成には<span class="attention_point">新規登録/ログイン</span>が必要です ※※※</div>
  <div class="calendar-title">🔻 今月のカレンダー 🔻</div>
<%= month_calendar events: @events do |date, event| %>
  <%= date.day %>
  <% end %>
<% end %>