<%#= ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã‚’è¡¨ç¤º(toppage) %>
<% if signed_in? && current_user %>
<div class="calendar-title"><%= "ðŸ”» #{current_user.nickname}ã•ã‚“ã®ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ ðŸ”»" %></div>
<%= month_calendar events: current_user.events do |date, event| %>
  <%= date.day %>
    <% event.each do |event| %>
      <div>
        <%= link_to "ðŸš© #{event.title}", event, class: "events-title" %>
      </div>
    <% end %>
  <% end %>
<% elsif current_artist %>
<div class="calendar-title"><%= "ðŸ”» #{current_artist.artistname}ã•ã‚“ã®ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ ðŸ”»" %></div>
<%= month_calendar events: current_artist.events do |date, event| %>
  <%= date.day %>
    <% event.each do |event| %>
      <div>
        <%= link_to "ðŸš© #{event.title}", event_path(event), class: "events-title" %>
      </div>
    <% end %>
  <% end %>
<% else %>
<%= render 'event_header' %>
<%= month_calendar events: @events do |date, event| %>
  <%= date.day %>
  <% end %>
<% end %>