<%# タイトル %>
<div class="app-title">
  <i class="far fa-calendar-alt"></i> bookmark_calendar <i class="far fa-calendar-alt"></i>
</div>
<%# アーティストアカウントフォーム %>
<div class="artist-account-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%# エラーメッセージの出力 %>
  <%= render "artists/shared/error_messages", resource: resource %>
  <div class="artist-sign-up">編集画面</div>

<%# ↓ここから %>
<%# artistname %>
  <div class="form-text">【artistname】</div>
  <li class="artist-field">
    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    <%= f.text_field :artistname, class:"artistname", placeholder:"【artistnameを入力】"%></li>
  </li>
<%# pohto %>
  <div class="form-text">【icon-pohto】<span class="optional">※任意※</span></div>
  <li class="artist-field">
    <i class="fas fa-image fa-fw" aria-hidden="true"></i>
    <%= f.file_field :artist_image, class:"artist-image", autofocus: true %>
  </li>
<%# e-mail %>
  <div class="form-text">【e-mail】</div>
  <li class="artist-field">
    <i class="fas fa-envelope-square fa-fw" aria-hidden="true"></i>
    <%= f.email_field :email, class:"artist-email", placeholder:"【PC・携帯どちらかを入力】", autofocus: true, autocomplete: "email" %>
  </li>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<%# password %>
  <div class="form-text">【password】
    <span class="profile-optional">※必須※</span><br>
    <i>(※パスワードを入力して下さい※)</i>
  </div>
  <li class="artist-field">
    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
    <%= f.password_field :password, class:"artist-password", placeholder:"【新しいpasswordか現在のpasswordを入力】", autofocus: true,autocomplete: "new-password" %><br>
    <% if @minimum_password_length %>
    <% end %>
  </li>
<%# current-password %>
  <div class="form-text">【current-password】
    <span class="profile-optional">※必須※</span><br>
    <i>(※変更するには現在のパスワードが必要です※)</i>
  </div>
  <li class="artist-field">
    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
    <%= f.password_field :current_password, class:"user-password", placeholder:"【現在のパスワード】", autofocus: true, autocomplete: "current-password" %>
  </li>
<%# hobby %>
  <div class="form-text">【hobby】<span class="optional">※任意※</span></div>
  <li class="artist-field">
    <i class="fas fa-crown fa-fw" aria-hidden="true"></i>
    <%= f.text_field :hobby, class:"artist-hobby", placeholder:"【hobbyを入力】", autofocus: true %>
  </li>
<%# birthday %>
  <div class="form-text">【birthday】</div>
  <li class="artist-field">
    <i class="fas fa-birthday-cake fa-fw" aria-hidden="true"></i>
    <%= f.date_field :birthday, class:"artist-birthday", placeholder:"【birthdayを入力】", autofocus: true %>
  </li>
<%# gender %>
  <div class="form-text">【gender】</div>
  <ul class="artist-field">
    <li><i class="fas fa-male"></i></li>
    <li><%= f.radio_button :sex, :man, class:"artist-gender" %></li>
    <li><i class="fas fa-female"></i></li>
    <li><%= f.radio_button :sex, :woman, class:"artist-gender" %></li>
  </ul>
<%# discography %>
  <div class="artist-optional">【discography】--- optional ---</div>
  <li class="discography-field">
    <i class="fas fa-compact-disc fa-fw" aria-hidden="true"></i>
    <%= f.text_area :discography, class:"artist-discography", placeholder:"【200字以内でdiscographyを入力】", autofocus: true %>
  </li>
<%# sns-link %>
  <div class="artist-optional">【sns-link】--- optional ---</div>
  <li class="sns-field">
    <i class="fab fa-twitter-square fa-fw" aria-hidden="true"></i>
    <%= f.text_field :twitter, placeholder: "--- twitter-url ---", class: "sns-link" %>
  </li>
  <li class="sns-field">
    <i class="fab fa-facebook fa-fw" aria-hidden="true"></i>
    <%= f.text_field :facebook, placeholder: "--- facebook-url ---", class: "sns-link" %>
  </li>
  <li class="sns-field">
    <i class="fab fa-instagram-square fa-fw" aria-hidden="true"></i>
    <%= f.text_field :instagram, placeholder: "--- instagram-url ---", class: "sns-link" %>
  </li>
<%# ↑ここまで %>

<%# 送信ボタン %>
  <ul class="signup-actions">
    <li><%= f.submit "編集する", class:"signup-submit" %></li>
<% end %>
<%# 前のページへ戻るボタン %>
    <li class="signup-return">
      <%= link_to "戻る", root_path, class:"signup-return-submit" %>
    </li>
  </ul>
<%# アカウントの削除ボタン %>
  <div class="account-delete-form"> ----- アカウント削除 ----- </div>
  <li class="account-delete-field">※このアカウントを削除する ➡︎
    <%= button_to "アカウント削除", registration_path(resource_name), class:"account-delete", data: { confirm: "本当に削除してよろしいですか？" }, method: :delete %>
  </li>
</div>
