<%# タイトル %>
<div class="app-title">
  <i class="far fa-calendar-alt"></i> bookmark_calendar <i class="far fa-calendar-alt"></i>
</div>
<%# アーティストアカウントフォーム %>
<div class="artist-account-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%# エラーメッセージの出力 %>
  <%= render "artists/shared/error_messages", resource: resource %>
  <div class="artist-sign-up">新規登録画面</div>
<%# artistname %>
  <div class="form-text">【artistname】</div>
  <li class="artist-field">
    <i class="fa fa-user fa-fw" aria-hidden="true"></i>
    <%= f.text_field :artistname, class:"artistname", placeholder:"【artistnameを入力】"%></li>
  </li>
<%# pohto %>
  <div class="form-text">【icon-pohto】<span class="optional">※任意※</span></div>
  <li class="artist-field">
    <i class="fas fa-image fa-fw" aria-hidden="true"></i>
    <%= f.file_field :artist_image, class:"artist-image", autofocus: true %>
  </li>
<%# e-mail %>
  <div class="form-text">【e-mail】</div>
  <li class="artist-field">
    <i class="fas fa-envelope-square fa-fw" aria-hidden="true"></i>
    <%= f.email_field :email, class:"artist-email", placeholder:"【PC・携帯どちらかを入力】", autofocus: true %>
  </li>
<%# password %>
  <div class="form-text">【password】</div>
  <li class="artist-field">
    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, class:"artist-password", placeholder:"【6文字以上・半角英数字で入力】", autofocus: true %>
  </li>
<%# password-confirmation %>
  <div class="form-text">【password-confirmation】</div>
  <li class="artist-field">
    <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
    <%= f.password_field :password_confirmation, class:"artist-password", placeholder:"【もう一度同じpasswordを入力】", autofocus: true %>
  </li>
<%# hobby %>
  <div class="form-text">【hobby】<span class="optional">※任意※</span></div>
  <li class="artist-field">
    <i class="fas fa-crown fa-fw" aria-hidden="true"></i>
    <%= f.text_field :hobby, class:"artist-hobby", placeholder:"【hobbyを入力】", autofocus: true %>
  </li>
<%# birthday %>
  <div class="form-text">【birthday】</div>
  <li class="artist-field">
    <i class="fas fa-birthday-cake fa-fw" aria-hidden="true"></i>
    <%= f.date_field :birthday, class:"artist-birthday", placeholder:"【birthdayを入力】", autofocus: true %>
  </li>
<%# gender %>
  <div class="form-text">【gender】</div>
  <ul class="artist-field">
    <li><i class="fas fa-male"></i></li>
    <li><%= f.radio_button :sex, :man, class:"artist-gender" %></li>
    <li><i class="fas fa-female"></i></li>
    <li><%= f.radio_button :sex, :woman, class:"artist-gender" %></li>
  </ul>
<%# discography %>
  <div class="artist-optional">【discography】--- optional ---</div>
  <li class="discography-field">
    <i class="fas fa-compact-disc fa-fw" aria-hidden="true"></i>
    <%= f.text_area :discography, class:"artist-discography", placeholder:"【200字以内でdiscographyを入力】", autofocus: true %>
  </li>
<%# sns-link %>
  <div class="artist-optional">【sns-link】--- optional ---</div>
  <li class="sns-field">
    <i class="fab fa-twitter-square fa-fw" aria-hidden="true"></i>
    <%= f.text_field :twitter, placeholder: "--- twitter-url ---", class: "sns-link" %>
  </li>
  <li class="sns-field">
    <i class="fab fa-facebook fa-fw" aria-hidden="true"></i>
    <%= f.text_field :facebook, placeholder: "--- facebook-url ---", class: "sns-link" %>
  </li>
  <li class="sns-field">
    <i class="fab fa-instagram-square fa-fw" aria-hidden="true"></i>
    <%= f.text_field :instagram, placeholder: "--- instagram-url ---", class: "sns-link" %>
  </li>
<%# 送信ボタン %>
  <ul class="signup-actions">
    <li><%= f.submit "送信", class:"signup-submit" %></li>
<% end %>
<%# 戻るボタン %>
    <li class="signup-return">
      <%= link_to '戻る', root_path, class:"signup-return-submit" %>
    </li>
    <li><% render "artists/shared/links" %></li>
  </ul>
</div>