<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "artists/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :artistname %><br />
    <%= f.text_field :artistname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :discography %><br />
    <%= f.text_field :discography, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, start_year: 1950, end_year: 2020 %>
  </div>

  <div class="field">
    <%= f.label :Sex %><br />
    <%= f.label :man  %>
    <%= f.radio_button :sex, :man %>
    <%= f.label :woman  %>
    <%= f.radio_button :sex, :woman %>
  </div>

<%# 基本情報(ユーザー名やメールアドレス)の更新は長いので、割愛 %>
<div class = "sns-link">
  <h2> SNS url </h2>
  <%# <h4>(Optional)</h4> %>
  <div class="form-group">
    <%= f.label :twitter, 'twitter url', class: 'form-control' %>
    <%= f.text_field :twitter, placeholder: "Optional", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook, 'facebook url', class: 'form-control' %>
    <%= f.text_field :facebook, placeholder: "Optional", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :instagram, 'instagram url', class: 'form-control' %>
    <%= f.text_field :instagram, placeholder: "Optional", class: "form-control" %>
  </div>
    <%#= f.submit 'Update', class:'btn-block btn-primary btn-lg ' %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "artists/shared/links" %>
